@import '../abstract/variables.scss';

#servico {
    margin: 80px;
    h3 {
        font-size: 1.5rem;
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem;
    }
    h4 {
        text-align: center;
        font-size: 2.0rem;
        text-transform: uppercase;
        margin-bottom: 80px;
        font-weight: 300;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        .card {
            width: 360px;
            text-align: center;
            h5 {
                font-size: 1.5rem;
                font-weight: 300;
                margin-top: 25px;
                margin-bottom: 25px;
                color: $secondary-color;
            }
            p { 
                font-size: 1rem;
                font-weight: 300;
                color: $third-color;
                line-height: 1.25rem;

            }
            .img-container {
                padding-bottom: 2px;
                border-bottom: 6px solid $primary-color;
                img {
                    max-width: 100%;
                }
            }
        }
    }

}